/* reboot bootstrap */
.dropdown-toggle::after {
  border: 1px solid transparent;
  width: 8px;
  height: 8px;
  border-color: transparent transparent var(--text-gray) var(--text-gray);
  rotate: -45deg;
}

.btn:focus,
.btn:active,
.form-control:focus,
.form-control:active,
.form-select:focus,
.form-select:active,
.form-check:focus,
.form-check:active,
button:focus,
button:active,
input:focus,
input:active,
text-area:focus,
text-area:active,
select:focus,
select:active {
  box-shadow: none;
  border-color: var(--border-gray);
  outline: none;
}

/* root document */
:root {
  /* colors */
  --white: #ffffff;
  --black: #000000;
  --dark: #222222;
  --primary: #1e63b8;
  --text-gray: #6e6e6e;
  --text-lime: #7b9949;
  --text-lime-deep: #80ae35;
  --text-orange-red: #fa5457;
  --text-bluish-dark: #acbfd9;
  --bg-lime: #ecf1e7;
  --bg-bluish-dark: #516177;
  --bg-mostly-white-100: #f7f8fa;
  --bg-mostly-white-200: #f5f7fb;
  --border-lime: #d7ecc2;
  --border-gray: #e2e0f4;
  --border-bluish-dark: #8799b1;
  --border-dark: #dcdcdc;
  --placeholder-gray: #b7b7b7;

  /* font families */
  --font-priamry: "Circular Std";
}

/* common styles */
body {
  font-family: var(--font-priamry), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  color: var(--text-gray);
  background-color: var(--bg-mostly-white-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark);
}

.btn {
  padding-inline: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.btn svg {
  width: auto;
  height: 12px;
}

.btn_primary {
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
}

.btn_primary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.btn-outline-gray {
  border: 1px solid var(--border-gray);
  color: var(--text-gray);
  background-color: transparent;
  text-decoration: none;
}

.btn-outline-gray:hover {
  border: 1px solid var(--border-gray);
  color: var(--text-gray);
  background-color: transparent;
}
.btn_denger {
  background-color: var(--text-orange-red);
  color: var(--white);
  text-decoration: none;
}

.btn_denger:hover {
  background-color: var(--text-orange-red);
  color: var(--white);
}

.btn_transparent {
  color: var(--text-gray);
}

.profile_icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
}

/* header main starts */
.header_main {
  background: var(--white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.02);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar_main .container-fluid {
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand > * {
  width: 78px;
}

.search_box {
  flex: 0 0 55%;
  border: 1px solid var(--border-gray);
  border-radius: 50rem;
  display: flex;
  align-items: center;
}

.search_box .form-control {
  border-radius: 50rem;
  border: none;
  margin: 6px;
}

.search_box .search_utils {
  flex-shrink: 0;
  border-left: 1px solid var(--border-gray);
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.search_utils .customize_test {
  margin-left: 10px;
}

.customize_test .dropdown-toggle {
  text-decoration: none;
  color: var(--primary);
}

.customize_test .dropdown-toggle::after {
  border-color: transparent transparent currentColor currentColor;
}

.user_control {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user_control .dropdown-toggle {
  color: var(--text-gray);
  text-decoration: none;
}

.user_control .dropdown-toggle > span {
  margin-right: 8px;
}

.menu-btn,
.search_box_icon {
  display: none;
}

/* sidebar */
.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  display: flex;
  z-index: 9999;
}

.sidebar_menu {
  background-color: var(--bg-bluish-dark);
  height: 100%;
  padding-block: 20px;
}

.sidebar_menu > [class^="sidebar_menu"] {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sidebar_menu__top {
  height: 55%;
  border-bottom: 1px solid var(--border-bluish-dark);
}

.sidebar_menu__top .sidebar_menu__item:last-of-type {
  margin-top: auto;
}
.inner_content {
  max-width: calc(100% - 80px);
  width: 100%;
  float: right;
  padding-top: 15px;
}

/******************************************************************* 
                      Profile.html Page Css
*******************************************************************/

/******************************************************************* 
                      Profile Section Area Css Start 
*******************************************************************/
.form-body {
  background: var(--white);
  border: 1px solid var(--border-gray);
  box-shadow: 0px 0px 50px var(--bg-mostly-white-200);
  border-radius: 16px;
  padding: 1.3rem 2rem;
}
.from-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--dark);
  padding-bottom: 10px;
}
.profile-single-input .form-text {
  text-align: right;
}
.form-text {
  font-size: 13px;
}
.profile-single-input label {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 8px;
  color: var(--dark);
}
.profile-single-input {
  margin-bottom: 15px;
}
.update-profile {
  margin-top: 10px;
}
.password-section {
  margin-top: 25px;
}
.update-password2 {
  margin-top: 10px;
}
.update-password3 {
  margin-top: 30px;
}
.delete-account {
  margin-block: 30px;
}
.profile-single-input {
  position: relative;
}
.profile-single-input .eye-icon {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/******************************************************************* 
                      Profile2.html Page Css
*******************************************************************/
.not-metch-pass {
  border-color: var(--text-orange-red);
}
.form-text-color {
  text-align: right;
  color: var(--text-orange-red);
  margin-top: -10px;
}
/******************************************************************* 
                      Profile3.html Page Css
*******************************************************************/
.success-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: var(--bg-lime);
  border: 1px solid var(--border-lime);
  border-radius: 8px;
}
.success-section p {
  margin-bottom: 3px;
}
.profile-single-input input::placeholder {
  margin-bottom: -10px;
}
/******************************************************************* 
                      Profile3.html Page Css
*******************************************************************/
.edit-profile,
.change-password {
  text-decoration: none;
  display: block;
  color: var(--primary);
}
.edit-profile {
  margin-top: -15px;
}
.delete-center {
  color: var(--primary);
}
/******************************************************************* 
                      Profile3.html Page Css
*******************************************************************/
.modal-dialog {
  max-width: 610px;
  width: 100%;
}
.modal-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.modal-header span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: var(--text-orange-red);
  color: var(--white);
  margin-right: 10px;
}
.modal-header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--dark);
}
.modal-body span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark);
  margin-bottom: 8px;
  margin-top: 14px;
}
.modal-body p {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-gray);
}
.back-modal {
  border: none;
  background: none;
}
/******************************************************************* 
                      Profile4.html Page Css
*******************************************************************/
.modal-body .form-check-input:checked {
  background-color: var(--primary);
  border-color: none;
}
.modal-body .form-check-input[type="radio"]:focus {
  box-shadow: none;
}
.back-modal {
  margin-right: 45px;
}
.profile-textarea textarea {
  height: 84px;
  width: 100%;
}
.profile-textarea p {
  text-align: right;
}
.modal-body .form-check {
  padding-bottom: 5px;
  padding-top: 7px;
}

/* Onboarding Are Start
--------------------------------------*/
.onboard-form-head h4 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 450;
}
.form-slider {
  margin: 40px 0;
}
.form-slider-range {
  position: relative;
  width: 350px;
}
.form-slider-range::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #dce1e8;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.form-slider-range .progress-line {
  position: absolute;
  width: 0;
  height: 2px;
  background: #1e63b8;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.form-slider-range .progress-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 50%;
  transform: translateY(-50%);
  background: #dce1e8;
  border-radius: 50%;
}
.form-slider-range .progress-dot.one {
  left: 0;
}
.form-slider-range .progress-dot.two {
  left: 25%;
}
.form-slider-range .progress-dot.three {
  left: 50%;
}
.form-slider-range .progress-dot.four {
  left: 75%;
}
.form-slider-range .progress-dot.five {
  left: 100%;
}
.form-slider-range .progress-dot.active {
  background-color: var(--primary) !important;
}

.onboard-main-form {
  margin-top: 80px;
}
.onboard-main-form .card {
  padding: 20px;
}
.form-card-title {
  margin-bottom: 20px;
}
.form-card-title h3 {
  font-size: 30px;
  font-weight: 500;
  color: #222222;
}
.form-card-input input {
  background: var(--white);
  border: 1px solid var(--border-dark);
  border-radius: 7px;
  padding: 10px 18px;
}
.form-card-input input::placeholder {
  color: #575757;
  font-size: 16px;
  font-weight: 450;
}
.onboard-main-form .form-card-input input:invalid,
.onboard-main-form .form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.onboard-main-form .form-control.is-valid,
.was-validated .form-control:valid {
  border-color: var(--border-dark) !important;
  box-shadow: inset 0 0 0 !important;
}
.onboard-main-form .is-invalid ~ .invalid-feedback,
.is-valid ~ .valid-tooltip,
.was-validated :valid ~ .invalid-feedback,
.was-validated :valid ~ .valid-tooltip {
  display: none;
}
.onboard-main-form .form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: url("../assets/images/analysis/input-close.svg");
  background-size: calc(0.75em + 1.375rem) calc(0.5em + 0.375rem) !important;
}
.onboard-main-form .form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url("../assets/images/analysis/input-check.svg");
}
.form-setp {
  opacity: 0;
  visibility: hidden;
  transition: 300ms ease;
  position: absolute;
}
.form-setp.active {
  position: static;
  opacity: 1;
  visibility: visible;
}
.onboard-form-button {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.onboard-main-form .card {
  background: var(--white);
  border-radius: 15px;
  border: none;
}
.onboard-single-btn {
  float: right;
}
.form-image {
  text-align: center;
}
.form-image img {
  max-width: 300px;
  width: 100%;
  object-fit: contain;
}
.form-single-text {
  margin-top: 30px;
}
.form-single-text p {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
  font-weight: 450;
}
.input-url-list {
  width: 100%;
  height: 220px;
  overflow-y: scroll;
  border: 1px solid var(--border-dark);
  border-radius: 7px;
  background: var(--white);
  padding: 10px;
  box-sizing: border-box;
  scrollbar-width: none;
}
.input-url-list::-webkit-scrollbar {
  width: 5px;
  height: 50px;
}
.input-url-list::-webkit-scrollbar-button {
  background: var(--text-gray);
}
.input-url-list::-webkit-scrollbar-track-piece {
  background: var(--border-gray);
}
.input-url-list::-webkit-scrollbar-thumb {
  background: #ccc;
}
​.input-url-list ol {
  margin: 0;
}
.input-url-list ol li {
  padding-right: 10px;
  font-size: 14px;
  color: var(--text-gray);
}
.input-url-list ol li::marker {
  padding-right: 5px;
  color: var(--text-gray);
}
.form-final-content {
  text-align: center;
}
.form-final-content p {
  color: var(--text-gray);
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.form-final-content button {
  padding: 7px 35px;
}
/* Onboarding Are End
--------------------------------------*/

/* loader Area Start
-----------------------------------------*/
.loader-card-title {
  text-align: center;
}
.loader-img {
  text-align: center;
  margin-top: 38px;
}
.loader-card-title p {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
  text-align: center;
  margin-bottom: 20px;
}
.loader-progress {
  text-align: left;
}

.loader-progress span {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
  margin-top: 11px;
}
.loader-card-title .progress {
  margin-bottom: 11px;
}
.loader-card-title .loader-details {
  max-width: 130px;
  width: 100%;
  margin: auto;
}
.loader-card-title .loader-details a {
  display: flex;
  justify-content: center;
  gap: 7px;
  text-decoration: none;
  color: #556080;
  margin: 27px 0 77px 0;
}
.loader-details p {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #6e6e6e;
}
.list-title h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
}
.list-title {
  border-bottom: 1px solid #e2e0f4;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
  margin: 0 0 10px 24px;
}
.loader-list ul {
  margin: 0;
  padding: 0;
}
.loader-list ul li {
  list-style: none;
  margin-bottom: 10px;
}
.loader-list ul li span {
  margin-left: 9px;
  font-weight: 450;
  font-size: 13px;
  line-height: 16px;
  color: var(--dark);
}
.loader-list-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.loader-list-toggle {
  display: none;
}
.loader-list-toggle.active {
  display: block;
}
.list-item-select ul li span {
  font-weight: 450;
  font-size: 13px;
  line-height: 16px;
  color: #6e6e6e;
  margin-left: 24px;
}
.list-title-right-mark {
  display: flex;
  align-items: center;
  gap: 9px;
  border-bottom: 1px solid #e2e0f4;
  margin-bottom: 10px;
}
.list-title-right-mark h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--dark);
}
.loader-title-single h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--dark);
  margin: 20px 0 9px 0;
}
.loader-title-single h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--dark);
  margin-bottom: 9px;
}
.loader-title-single p {
  max-width: 260px;
  margin: auto;
  margin-bottom: 77px;
}
/* loader Area End
-----------------------------------------*/

/*  Analysis Page Css
--------------------------------------- */
.link-title {
  margin-bottom: 15px;
}
.link-title h5 {
  font-size: 16px;
  font-weight: 450px;
  color: var(--dark);
}
.report-generate p {
  font-size: 15px;
  font-weight: 500;
  color: var(--dark);
  position: relative;
  cursor: pointer;
}
.report-generate span {
  margin-left: 10px;
  cursor: pointer;
}
.progress-download {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}
.progress-items {
  flex-basis: 50%;
}
.download-items {
  flex-basis: 50%;
}
.download-single-item {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.download-single-link {
  max-width: 140px;
  width: 100%;
}
.download-single-link a {
  text-decoration: none;
  color: var(--dark);
  font-size: 14px;
  font-weight: 450;
}
.download-single-link a span {
  margin-right: 8px;
}

/* Progress Bar */
.progress-items {
  display: flex;
  align-items: center;
  margin-right: 30px;
  text-align: center;
}
.single-progress {
  margin-right: 30px;
}
.single-progress span {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 450;
}
.progress-failed,
.progress-warnings,
.progress-passed {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

/* control-hide-show */
.control-hide-show {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  flex-wrap: wrap;
}
.control-show button,
.control-hide button {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 4px;
  margin-left: 10px;
  position: relative;
  width: 141px;
}
.control-show button::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 20px;
  height: 20px;
  background: url(../assets/images/analysis/showbtn-icon.png) no-repeat;
  background-size: 100% 100%;
}
.control-hide button {
  padding-right: 10px;
  padding-left: 30px;
}
.control-hide button::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  width: 15px;
  height: 13px;
  background: url(../assets/images/analysis/hidebtn-icon.png) no-repeat;
  background-size: 100% 100%;
}
.control-hide button {
  background-color: var(--white);
}
.control-dash-icon button,
.control-bars-icon button {
  padding: 0;
  margin-left: 15px;
  border: 0;
}

/* Meta Tag Start */
.meta-tag-items {
  margin-top: 10px;
}
.meta-tag-items button.nav-link {
  background: var(--white);
  max-width: 180px;
  width: 100%;
  box-shadow: 0px 4px 50px rgba(245, 247, 251, 0.25);
  border-radius: 16px;
  margin-right: 20px;
  margin-top: 10px;
  border-color: var(--bs-nav-tabs-link-hover-border-color);
  z-index: 1;
}
.meta-tag-items button.nav-link:last-child {
  margin-right: 0;
}
.analysis-tab-btn .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  position: relative;
  z-index: 1;
}
.analysis-tab-btn .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--primary);
  bottom: -7px;
  left: 30px;
  transform: rotate(45deg);
  border-radius: 3px;
  z-index: -1;
}
.meta-tag-items .nav-tabs {
  border: none;
}
.analysis-tab-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-btn-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.tab-btn-content p {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-gray);
}
.tab-btn-content span {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
}
.analysis-tab-btn .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link .tab-first-item svg path {
  fill: var(--primary);
}
.analysis-tab-btn .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active svg path {
  fill: var(--white);
}
.analysis-tab-btn .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: var(--primary);
}
.tab-btn-content .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active p,
.tab-btn-content .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active span {
  color: var(--white);
}
.tab-btn-content p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content-area {
  margin-top: 30px;
}
.tab-content-area .analysis-card {
  margin-bottom: 20px;
}
.tab-content-area .card-header {
  background: var(--white);
}
.card-header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header-title h4 {
  font-size: 16px;
  font-weight: 500;
  padding: 0 7px;
  color: var(--dark);
  display: inline;
  line-height: 0;
}
.card-header-title .card-help {
  cursor: pointer;
  position: relative;
}
.card-header-right button {
  border: 1px solid var(--text-orange-red);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-orange-red);
  padding: 3px 15px;
}
.card-header-right button:hover,
.card-header-right button:focus {
  color: var(--text-orange-red) !important;
  border: 1px solid var(--text-orange-red) !important;
}
.card-sniper-group {
  display: flex;
  justify-content: space-between;
}
.card-sniper-group .show-snip-btn button {
  color: var(--white);
  background: var(--primary);
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 3px 5px 6px 6px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  align-items: center;
  width: 115px;
  align-items: center;
}
.show-snip-btn button span {
  padding-left: 5px;
}
.card-single-content p {
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
  max-width: 930px;
}
.card-single-content p .badge {
  border: 1px solid var(--text-lime-deep);
  background: rgba(148, 206, 156, 0.1);
  color: var(--text-lime-deep);
  font-size: 14px;
  font-weight: 450 !important;
}
.card-inner-content .card {
  border: 0;
  background: var(--bg-mostly-white-200);
}
.card-inner-content h4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark);
  display: inline;
}
.card-inner-content p {
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
  margin-bottom: 0;
}
.card-content-bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.card-content-bottom .card-single-content {
  margin-right: 20px;
  color: var(--dark);
  font-weight: 450;
}
.card-header-title .card-help-body {
  position: absolute;
  top: -10px;
  left: 27px;
  width: 230px;
  height: auto;
  background: var(--white);
  padding: 15px 20px;
  border: 1px solid #E4E3EF;
  box-shadow: 0px 0px 50px #E9E8E8;
  border-radius: 16px;
  z-index: 9;
  opacity: 1;
  visibility: hidden;
}
.card-header-title .card-help-body::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 1px;
  border-left: 1px solid #E4E3EF;
  border-bottom: 1px solid #E4E3EF;
  box-shadow: 0px 0px 50px #E9E8E8;
  top: 12px;
  left: -6px;
  transform: rotate(45deg);
  z-index: -9;
}
.card-header-title .card-help-body p{
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
  line-height: 20px;
  margin-bottom: 5px;
}
.card-header-title .card-help-body a{
  display: inline-block;
}
.card-header-title .card-help:hover .card-help-body{
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}

/* card-hide-content */
.card-hide-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-hide-content p {
  font-size: 12px;
  color: var(--text-gray);
}
.card-show-icon button {
  background: var(--white);
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--text-gray);
  font-weight: 500;
  padding: 3px 7px;
}
.card-show-icon button span {
  display: flex;
  margin-right: 5px;
}
.card-text-link {
  padding: 2px 0;
}
.card-text-link a {
  color: #006621;
  font-weight: 400;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.card-single-text p:first-child {
  font-size: 15px;
  color: #681da8;
  font-weight: 400;
  margin: 3px 0;
}
.card-single-text p:last-child {
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.problem-help{
  position: relative;
}
.problem-card-help {
  position: absolute;
  top: 16px;
  left: 77%;
  width: 470px;
  height: auto;
  background: var(--white);
  padding: 15px 20px;
  border: 1px solid #E2E0F4;
  box-shadow: 0px 0px 50px #E9E8E8;
  border-radius: 16px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.problem-card-help::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--white);
  border-radius: 1px;
  border-left: 1px solid rgb(228, 227, 239);
  border-bottom: 1px solid rgb(228, 227, 239);
  box-shadow: rgb(233, 232, 232) 0px 0px 50px;
  top: 12px;
  left: -6px;
  transform: rotate(45deg);
  z-index: -9;
}
.problem-card-help p{
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
  line-height: 20px;
  margin-bottom: 5px;
}
.problem-help:hover .problem-card-help{
  opacity: 1 !important;
  visibility: visible !important;
}

/* Analysis Card Three */
.card-single-content.badge-orange p a {
  color: #6e6e6ea9;
}
.card-single-content.badge-orange .badge {
  border: 1px solid var(--text-orange-red);
  background: rgba(250, 84, 87, 0.05);
  color: var(--text-orange-red);
}
.card-inner-problems .card {
  background: #fef6f6;
  box-shadow: 0px 4px 50px rgba(245, 247, 251, 0.25);
  border: 0;
}
.card-inner-problems .card h4 {
  font-size: 16px;
  color: var(--text-orange-red);
}
.card-inner-problems .card ol {
  padding-left: 15px;
  margin-bottom: 0;
}
.card-inner-problems .card ol li {
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
  line-height: 24px;
}
.card-inner-problems .card ol li::marker {
  color: var(--black);
  font-weight: 500;
}
.problem-des-gray h4 {
  color: var(--dark) !important;
}
.problem-des-gray p {
  font-size: 14px;
  font-weight: 450;
  color: var(--text-gray);
}
.card-attr p a {
  color: #6e6e6ea9;
  font-size: 14px;
  font-weight: 450;
}
.card-actual-url p {
  color: var(--text-gray);
  font-size: 14px;
  line-height: 24px;
}
.card-actual-url p span {
  color: var(--dark);
  font-weight: 500;
  max-width: 110px;
  width: 100%;
  display: inline-block;
}
.card-actual-problem .card {
  background: #fef6f6;
}
/* Meta Tag End */

.progress-bar_primary {
  background: linear-gradient(90deg, #1e63b8 0.31%, #01b4bc 74.44%);
}
